<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<servlet>
	<servlet-name>createtrans</servlet-name>
	<servlet-class>pack1.createtrans</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>createtrans</servlet-name>
	<url-pattern>/ctrans</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>deletetrans</servlet-name>
	<servlet-class>pack1.deletetrans</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>deletetrans</servlet-name>
	<url-pattern>/dtrans</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>updatetrans</servlet-name>
	<servlet-class>pack1.updatetrans</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>updatetrans</servlet-name>
	<url-pattern>/updatet</url-pattern>
</servlet-mapping>

</web-app>